<button (click)="navigateTo('studentList')" class="nav-btn">Back</button>

<form [formGroup]="studentForm" (ngSubmit)="Onsubmit()" class="student-form">

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Student id</mat-label>
      <input matInput formControlName="stId" placeholder="enter your stId" id="stId" class="form-controler">
      <mat-error *ngIf="studentForm.get('stId')!.hasError('required')">
        Student ID is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <mat-label>name</mat-label>
      <input matInput formControlName="Name" placeholder="enter your name" id="Name" class="form-controler">
      <mat-error *ngIf="studentForm.get('Name')!.hasError('required')">
        Name is required.
      </mat-error>
    </mat-form-field>

  </div>

  <div class="form-group">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="enter your email" id="email" class="form-controler">

      <mat-error *ngIf="studentForm.get('email')!.hasError('required')">
        Email is required.
      </mat-error>
      <mat-error *ngIf="studentForm.get('email')!.hasError('email')">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>


  </div>

  <div class="form-group">

    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" placeholder="enter phone number" id="phone" class="form-controler">
      <mat-error *ngIf="studentForm.get('phone')!.hasError('required')">
        Phone number is required.
      </mat-error>
    </mat-form-field>

  </div>

  <button type="submit" class="btn btn-primary submit-btn">
    Submit
  </button>
</form>

<div>
  <div class="form-group">
    <label for="stId">Student Id</label>
    {{ studentForm.value.stId }}
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    {{ studentForm.value.Name }}
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    {{ studentForm.value.email }}
  </div>
  <div class="form-group">
    <label for="phone"> </label>
  </div>
</div>